{% extends "posts/base.html" %}

{% block title %} Archive of posts for week {{ week }} of {{ week|date:"Y" }} {% endblock %}

{% block heading %}
 Archive of Posts for Week {{ week }}
{% endblock %}

{% block content %}
    {% if previous_year %}
    <a href="{{ previous_week|date:'F Y' }}">&larr; previous week</a>
    {% endif %}
    {% if next_year %}
    <a href="{{ next_week|date:'F Y' }}">next week &rarrfs;</a>
    {% endif %}
    <h2>View by date</h2>
    <ul>
        {% for date in date_list %}
            <li>
                <a href="" title="See posts for {{ date|date:"j" }} only">{{ date|date:"j" }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <div>
        <h1>All Articles for {{ week }}</h1>
        {% for obj in object_list %}
            <p>
                <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> - <a href="" title="See more posts on this date">{{ obj.publish|date:"F j, Y" }}</a>
            </p>
        {% endfor %}
    </div>

{% endblock %}
